* {
	box-sizing: border-box;
}
body {
	font-family: Arial;
	margin: 0;
}
.title {
	padding: 60px;
	text-align: center;
	color: rgb(220, 226, 181);
	background: rgb(182, 108, 95);
	font-weight: bolder;
	font-family: 'Montserrat';
}
.navbar {
	height: 50px;
	display: flex;
	background-color: rgb(108, 137, 138);
	color: rgb(7, 4, 4);
}
.navbar a {
	/*navbar link */
	color: rgb(7, 4, 4);
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
	font-family: 'jf-openhuninn-1.1';
	opacity: 0.5;
}
.navbar a:hover {
	height: 50px;
	background-color: #ddd;
	color: black;
	opacity: 1.0;
}
.navfont {
	color: rgb(38, 51, 49);
	font-weight: bold;
}
.flex-container>div {
	background-color: transparent;
	width: 80spx;
	margin: 20px;
	text-align: left;
	font-size: 18px;
	font-family: 'jf-openhuninn-1.1';
	font-weight: bold;
	color: rgb(69, 66, 41);
}
a:link {
	color: rgb(220, 226, 181);
	background-color: transparent;
	text-decoration: none;
}
a:visited {
	color: rgb(189, 160, 165);
	background-color: transparent;
	text-decoration: none;
}
/* *****
a:hover {
	background-color: rgb(211, 96, 62);
	font-size: 24px;
}
a:active {
	color: rgb(65, 128, 135);
	background-color: transparent;
	text-decoration: underline;
}
***** */
.row {
	display: flex;
	flex-wrap: wrap;
}
.column.middle {
	width: 80%;
	padding: 40px 60px;
	font-size: 12px;
	color: rgb(69, 66, 41);
	
}
.column.side {
	width: 20%;
	padding: 30px;
	font-size: 12px;
	color: rgb(69, 66, 41);
	background-color: rgb(132, 146, 187);
}
.content_font{
	font-size: 12px;
}
.fontbig:hover {
    font-size: 20px;
}
.contact_me {
	border: transparent;
}
.horizontal_line {
	border-top: 3px;
	border-color: rgb(220, 226, 181);
}
.button {
	background-color: rgb(220, 226, 181);
	border: none;
	color: rgb(220, 226, 181);
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
  }
.button1 {
	background-color: transparent;
	color: rgb(220, 226, 181);
	border: 2px solid rgb(220, 226, 181);
}
  
.button1:hover {
	background-color: rgb(220, 226, 181);
	color: rgb(69, 66, 41);

}
  
@media screen and (max-width: 700px) {
	.row, .navbar {
		flex-direction: column;
	}
	img {
		width: 100%;
		height: auto;
	}
}